
Code/build-PaperFriend-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/*
build-PaperFriend-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/*
build-PaperFriend-Qt_6_4_1_for_macOS-Debug/*

# Artem's apple specific:
.DS_Store
Code/.DS_Store
Code/build-PaperFriend-Qt_6_2_4_for_macOS-Debug/
Code/build-PaperFriend-Desktop_Qt_6_3_2_MinGW_64_bit-Debug
Code/build-PaperFriend-Qt_6_2_4_for_macOS-Debug/PaperFriend.app/Contents/MacOS/nlp_text_sentiment

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc
Code/PaperFriend/.vscode
Code/PaperFriend/file_processing/file_processing/entries.h
Code/PaperFriend/file_processing/file_processing/entries.cpp
Code/PaperFriend/file_processing/file_processing/Entries/*
